.login_Section {
  border-bottom: 2px solid black;
}

.title_Row {
  border-bottom: 2px solid black;
}


.page_Box {
  border: 2px solid black;
}

.full_Box {
  border: 2px solid black;
  /* border-bottom: 0px solid black; */
}

.copyright {
  font-size: 10px;
  color: lightgrey;
}

.whole_Form {
  /* background-color: #ccffcc; */
  /* background-color: #e6ffe6; */
}


/* .top_Filler {
  min-height: 80px;
  vertical-align: middle
}

.product_Title {
  color: #0000b3;
  font-size: 36px;
  font-weight: 400;
}

.product_Slogan {
  color: #0000b3;
  font-size: 20px;
  font-weight: 400;
}

.access_LoginCol {
  background-color: #e6f7ff;
  border-right: 1px solid #CED0CE;
}

.access_SignupCol {
  border-left: 1px solid #CED0CE;
  background-color: #e6f7ff;
}

.account_Labels {
  font-size: 20px;
  font-weight: 400; 
}

.welcome_Box {
border: 1px solid lightgrey;
}

.icon_Traits {
  color: #0000b3;
}

.access_Button {
  background-color: #0000b3 !important;
} */