.title_Row {
  border-bottom: 2px solid black;
}


.page_Box {
  border: 2px solid black;
}

.full_Box {
  border: 2px solid black;
  /* border-bottom: 0px solid black; */
}

.copyright {
  font-size: 10px;
  color: lightgrey;
}