tr.list-group-item {
  border: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  /* background-color: #ccffcc; */
}

.load_Deal {
  font-size: 14px;
}

.process_Button {
  background-color: green !important;
}

.load_Button {
  background-color: green !important;
  font-size: 10px !important;
}

.saveDeal_MHeader {
  background-color: #ccffcc;
}

.saveDeal_MForm {
  background-color: #ccffcc;
}

.saveDeal_MBody {
  background-color: #ccffcc;
}

.saveDeal_MFooter {
  background-color: #ccffcc;
}

.loadDeal_MHeader {
  background-color: #ccffcc;
}

.loadDeal_MForm {
  background-color: #ccffcc;
}

.loadDeal_MBody {
  /* background-color: #ccffcc; */
}

.loadDeal_MFooter {
  background-color: #ccffcc;
}

