/* 
.top_Box {
  border: 2px solid black;
  border-bottom: 0px solid black;
}

.page_Box {
  border: 2px solid black;
  border-bottom: 0px solid black;
}

.bottom_Box {
  border: 2px solid black;
  border-top: 0px solid black;
}

.full_Box {
  border: 2px solid black;
}

.instructions {
  font-size: 12px;
}

.copyright {
  font-size: 10px;
  color: lightgrey;
}

.list-group-item {
  border: 1px solid black;
} */

tr.list-group-item {
  border: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.load_Deal {
  font-size: 14px;
}

.process_Button {
  background-color: green !important;
}

.load_Button {
  background-color: green !important;
  font-size: 10px !important;
}